class BackgroundMigrationsChangeStatusDefault < <%= migration_parent %>
  def change
    safety_assured do
      change_column_default :background_data_migrations, :status, from: "enqueued", to: "pending"
      change_column_default :background_schema_migrations, :status, from: "enqueued", to: "pending"
    end
  end
end
