class Enqueue<%= class_name %> < <%= migration_parent %>
  def up
    enqueue_background_data_migration("<%= class_name %>")
  end

  def down
    # Make sure to pass the same arguments as in the "up" method, if any.
    remove_background_data_migration("<%= class_name %>")
  end
end
